<p-panel [header]="'Pipes Personalizados'" class="p-1">
  <p>PIpes personalizados - creados por {{ 'nosotros' | toggleCase:isUpperCase }}</p>
</p-panel>


<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-search" class="mr-2" [label]="'ToggleCase'" (click)="toggleUppercase()"></p-button>
  </div>
  <div class="p-toolbar-group-end">
    <p-button icon="pi pi-sort" styleClass="p-button-success mr-2" [label]="'Por nombre'"
              (click)="changeOrder('name')"></p-button>
    <p-button icon="pi pi-sort" styleClass="p-button-danger mr-2" [label]="'Por volar'"
              (click)="changeOrder('canFly')"></p-button>
    <p-button icon="pi pi-sort" styleClass="p-button-help mr-2" [label]="'Por color'"
              (click)="changeOrder('color')"></p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <div class="card">
      <p-panel [header]="'Heroes Table'" class="p-1">
        <p-table [value]="heroes | sortBy: sortByHero" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Puede volar</th>
              <th>Color</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-hero>
            <tr>
              <td>{{ hero.name }}</td>
              <td>{{ hero.canFly | canFly }}</td>
              <td>{{ hero.color }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
  </div>
</div>
